/* Variables */
/*Imports separados de manera ordenada*/
/*Header*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0; }

body {
  background-color: #b6ffff; }

header {
  background-color: #34a0ff;
  width: 100%;
  clear: both;
  display: table; }
  header h1 {
    font-family: 'Anton', sans-serif;
    margin-left: 550px;
    padding: 10px 35px;
    font-weight: bold;
    color: black;
    font-size: 6em;
    transition: all 2s ease; }
    header h1:hover {
      border-radius: 0%;
      color: white; }
  header .menu {
    margin: auto;
    margin-left: 550px;
    padding: 0%;
    width: 100%;
    max-width: 900px;
    font-family: 'Roboto Flex', sans-serif; }
    header .menu.menu ul li {
      text-decoration: none;
      color: black;
      list-style: none;
      margin-left: 25px;
      padding: 20px 0px;
      font-weight: bold;
      float: left;
      display: block; }
    header .menu.menu li:hover {
      background: #00ffff; }
      header .menu.menu li:hover.menu li {
        display: inline-block;
        text-align: center; }

/*Le agregue transciciones,transforrmaciones al logo principal de la pagina, se aplico en todos los archivos css.*/
/*MIXIN */
/*MIXIN */
.contenedorp {
  display: grid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  grid-template-areas: "letras-1" "letras-2" "letras-3" "letras-4" "letras-5" "img-1" "img-2" "img-3" "img-4" "img-5";
  /*Se usaron Variables */
  /*Se uso extend */
  /*MIXIN */ }
  .contenedorp #letras {
    border: 3px #001eff solid;
    transition: all 2s ease;
    height: auto;
    margin-left: 50px;
    border-radius: 5%;
    /*Se usaron Variables */ }
    .contenedorp #letras:hover {
      background-color: #00ffff;
      transform: skew(10deg);
      border-radius: 15%;
      color: black; }
  .contenedorp #img {
    border-radius: 5%;
    background-color: #34a0ff;
    box-shadow: 5px 5px 10px; }
  .contenedorp .letras-1 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
    width: 500px;
    height: 350px;
    background-color: #34a0ff;
    border: 3px solid black;
    grid-area: letras-1; }
  .contenedorp .img-1 {
    border: 15px solid #34a0ff;
    background-color: #34a0ff;
    grid-area: img-1;
    width: 600px;
    height: auto;
    margin-left: 35px; }
  .contenedorp .letras-2 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 560px;
    height: 250px;
    grid-area: letras-2;
    border: 3px black solid;
    margin-top: 60px; }
  .contenedorp .img-2 {
    margin-top: 50px;
    margin-left: 30px;
    border: 20px solid #34a0ff;
    background-color: #34a0ff;
    grid-area: img-2;
    width: 500px;
    height: 310px;
    padding-left: 10px;
    padding-top: 5px; }
  .contenedorp .letras-3 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 560px;
    height: 250px;
    grid-area: letras-3;
    border: 3px black solid;
    margin-top: 20px; }
  .contenedorp .img-3 {
    border: 20px solid #34a0ff;
    background-color: #34a0ff;
    grid-area: img-3;
    width: 500px;
    height: 310px;
    padding-left: 5px;
    margin-left: 30px;
    padding-top: 5px; }
  .contenedorp .letras-4 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 560px;
    height: 250px;
    border: 3px black solid;
    margin-top: 20px;
    grid-area: letras-4; }
  .contenedorp .img-4 {
    border: 25px solid #34a0ff;
    background-color: #34a0ff;
    height: 500px;
    grid-area: img-4;
    width: 500px;
    height: auto;
    padding-top: 3px;
    padding-left: 10px;
    margin-left: 30px; }
  .contenedorp .letras-5 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 560px;
    height: 250px;
    border: 3px black solid;
    margin-top: 20px;
    grid-area: letras-5;
    margin-top: 50px;
    margin-right: -10px; }
  .contenedorp .img-5 {
    border: 20px solid #34a0ff;
    background-color: #34a0ff;
    grid-area: img-5;
    width: 500px;
    height: 300px;
    padding-left: 10px;
    margin-left: 40px;
    margin-top: 30px; }

/*Le agregue transciciones,transforrmaciones y una gradiente, a todos mis contenedores #letras para las definicioones de cada juego y consola, se aplico en todos los archivos css.*/
.descarga {
  margin-top: 30px;
  text-align: center; }

.botonhome {
  margin-left: 100px; }

footer {
  font-family: 'Roboto Flex', sans-serif;
  margin-left: 700px;
  padding-bottom: 20px;
  color: #0088ff;
  font-weight: bolder; }
  footer h5 {
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 600px;
    font-size: 25px; }

/*Media queries donde aplico la adptabilidad para pantallas de 480px (telefonos) y le doy una aperiencia diferente a la pagina cuando esta en modo mobile*/
@media screen and (min-width: 360px) and (max-width: 480px) {
  body {
    background-color: #deffde; }
  header {
    background-color: #00ff59;
    width: 100%;
    clear: both;
    display: table; }
    header h1 {
      margin-left: 12px;
      color: black;
      font-size: 4em;
      transition: all 2s ease; }
      header h1:hover {
        color: white; }
    header .menu {
      margin: 0px;
      padding: 0%;
      width: 90%;
      font-size: 0.6em; }
      header .menu.menu ul li {
        text-decoration: none;
        color: black; }
      header .menu.menu li:hover {
        background: #ecd65e; }
        header .menu.menu li:hover.menu li {
          display: inline-block;
          text-align: center; }
  /*Se usaron Variables */
  .contenedorp {
    display: grid;
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    gap: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    grid-template-areas: "letras-1" "img-1" "letras-2" "img-2" "letras-3" "img-3" "letras-4" "img-4" "letras-5" "img-5";
    gap: 20px; }
    .contenedorp #img {
      width: 330px;
      height: auto;
      margin-left: 30px;
      border: 20px #00ff59 solid;
      background-color: #00ff59; }
    .contenedorp .img-1 {
      border: 15px solid #00ff59;
      grid-area: img-1; }
    .contenedorp #letras {
      width: 300px;
      height: auto;
      font-size: medium;
      border: 3px #00ff59 solid;
      background-color: #00ff59;
      margin-left: 40px; }
      .contenedorp #letras:hover {
        background-color: #ecd65e;
        transform: skew(10deg);
        border-radius: 5%; }
  .botonhome {
    margin-left: 30px; }
  footer {
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 0px;
    padding-bottom: 20px;
    text-align: center;
    color: #009e37; }
    footer h5 {
      font-family: 'Roboto Flex', sans-serif;
      margin-left: 0px;
      text-align: center;
      color: #009e37; } }

/*Media queries donde aplico la adptabilidad para pantallas de 600px (small tablets) y le doy una aperiencia diferente a la pagina cuando esta en modo mobile*/
@media only screen and (min-width: 500px) and (max-width: 600px) {
  body {
    background-color: #deffde; }
  header {
    background-color: #00ffe1;
    width: 100%;
    clear: both;
    display: table; }
    header h1 {
      margin-left: 12px;
      color: black;
      font-size: 5em;
      transition: all 2s ease; }
      header h1:hover {
        color: white; }
    header .menu {
      margin: 0px;
      padding: 0%;
      width: 90%;
      font-size: 0.8em; }
      header .menu.menu ul li {
        text-decoration: none;
        color: black; }
      header .menu.menu li:hover {
        background: #b0dfff; }
        header .menu.menu li:hover.menu li {
          display: inline-block;
          text-align: center; }
  /*Se usaron Variables */
  .contenedorp {
    display: grid;
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    gap: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    grid-template-areas: "letras-1" "img-1" "letras-2" "img-2" "letras-3" "img-3" "letras-4" "img-4" "letras-5" "img-5";
    gap: 20px; }
    .contenedorp #img {
      width: 360px;
      height: auto;
      margin-left: 100px;
      border: 20px #00ffe1 solid;
      background-color: #00ffe1; }
    .contenedorp .img-1 {
      border: 15px solid #00ffe1;
      grid-area: img-1; }
    .contenedorp #letras {
      width: 300px;
      height: auto;
      font-size: medium;
      border: 3px #00ffe1 solid;
      background-color: #00ffe1;
      margin-left: 130px; }
      .contenedorp #letras:hover {
        background-color: rgba(136, 0, 255, 0.567);
        transform: skew(10deg);
        border-radius: 5%; }
  .botonhome {
    margin-left: 30px; }
  footer {
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 0px;
    padding-bottom: 20px;
    text-align: center; }
    footer h5 {
      font-family: 'Roboto Flex', sans-serif;
      margin-left: 0px;
      text-align: center;
      color: #00ffe1; } }

/*Media queries donde aplico la adptabilidad para pantallas de 1024px (Ipad) y le doy una aperiencia diferente a la pagina cuando esta en modo mobile*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #ffffde; }
  header {
    background-color: orangered;
    width: 100%;
    clear: both;
    display: table; }
    header h1 {
      margin-left: 50px;
      color: black;
      font-size: 5em;
      transition: all 2s ease; }
      header h1:hover {
        color: white; }
    header .menu {
      margin: auto;
      padding: 0%;
      width: 100%;
      font-size: 0.8em; }
      header .menu.menu ul li {
        text-decoration: none;
        color: black; }
      header .menu.menu li:hover {
        background: #ecd65e; }
        header .menu.menu li:hover.menu li {
          display: inline-block;
          text-align: center; }
  /*Se usaron Variables */
  .contenedorp {
    display: grid;
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    gap: 40px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    grid-template-areas: "letras-1" "img-1" "letras-2" "img-2" "letras-3" "img-3" "letras-4" "img-4" "letras-5" "img-5";
    gap: 20px; }
    .contenedorp #img {
      width: 400px;
      height: auto;
      margin-left: 60px;
      border: 20px orangered solid;
      background-color: orangered; }
    .contenedorp .img-1 {
      border: 15px solid #00ff59;
      grid-area: img-1; }
    .contenedorp #letras {
      width: 300px;
      height: auto;
      font-size: medium;
      border: 3px orangered solid;
      background-color: orangered;
      margin-left: 75px; }
      .contenedorp #letras:hover {
        background-color: #ecd65e;
        transform: skew(10deg);
        border-radius: 5%; }
  .botonhome {
    margin-left: 30px; }
  footer {
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 0px;
    padding-bottom: 20px;
    text-align: center; }
    footer h5 {
      font-family: 'Roboto Flex', sans-serif;
      margin-left: 0px;
      text-align: center;
      color: orangered; } }
