
/*Header*/

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

body{
    background-color: rgb(202, 156, 255);
    
}

header{
    background-color: $uva;
    width: 100%;
    clear: both;
    display: table;

    h1{
        font-family: 'Anton', sans-serif;
        margin-left: 550px;
        padding: 10px 35px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 6em;
        transition: all 2s ease;
        
                &:hover{
                    border-radius: 0%;
                    color: white;
                }
        
                 }
    
      .menu{
              margin: auto;
              margin-left: 550px;
              padding: 0%;
              width: 100%;
              max-width: 900px; 
              font-family: 'Roboto Flex', sans-serif;
    
              &.menu ul li{
                text-decoration: none;
                color: rgb(0, 0, 0);
                list-style: none;
                margin-left: 25px;
                padding: 20px 0px;
                font-weight: bold;
                float: left;
                display: block; 
                
                    }
    
               &.menu li:hover{
                background: rgb(242, 0, 255);
        
                &.menu li{
                    display: inline-block;
                    text-align: center;
                   }
    
    
        }    
                
    }
       

}

/*Le agregue transciciones,transforrmaciones al logo principal de la pagina, se aplico en todos los archivos css.*/

/*MIXIN */
 @mixin letrastodo{
     font-family: 'Roboto Flex', sans-serif;
     font-size: 20px;
     width: 560px;
     height: 250px;
     border: 3px black solid;
     margin-top: 20px;
 }
     /*MIXIN */

.contenedorp{
    display: grid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    grid-template-areas: 
    "letras-1"
    "letras-2"
    "letras-3"
    "letras-4"
    "letras-5"
    "img-1"
    "img-2"
    "img-3"
    "img-4"
    "img-5"
    
    ;

    #letras{
        border: 3px $uva solid;
        transition: all 2s ease;
        height: auto;
        text-align: center;
        padding: auto;
        margin-left: 50px;
        border-radius: 5%;
        font-size: 23px;

    /*Se usaron Variables */
        &:hover{
            background-color:$uva; 
            color: white;
            transform: skew(10deg);
            border-radius: 15%;
        }
    
    }

    #img{
        background-color:$uva; 
        border: 20px solid $uva;
        border-radius: 5%;
        box-shadow: 5px 5px 10px;


                   }
    
    
    /*Se usaron Variables */
    .letras-1{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 25px;
        width: 520px;
        height: auto;
        text-align: center;
        grid-area: letras-1;
        
    }
    
    
    .img-1{
       grid-area: img-1;
       width: 600px;
       height: auto;
       padding-left: 0px;
       padding-top:0px;
       margin-left: 31px;
    }
    
     /*Se uso extend */

    .letras-2{
        grid-area: letras-2;
        @include letrastodo;
        
    }
    
    .img-2{
        margin-top: 0px;
        margin-left: 30px;
       grid-area: img-2;
       width: 500px;
       height: auto;
       padding-left: 10px;
       padding-top: 5px;
        
    }
    
    
    
    .letras-3{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 20px;
        width: 560px;
        height: auto;
        grid-area: letras-3;
        border: 3px black solid;
        margin-top: 20px;
        
    }
    
    .img-3{
        grid-area: img-3;
        width: 500px;
        height: 310px;
        padding-left: 5px;
        margin-left: 30px;
        padding-top: 5px;
    
    }
    
     /*MIXIN */
    .letras-4{
        @include letrastodo;
        grid-area: letras-4;
     
    }
    
    .img-4{
        grid-area: img-4;
        width: 500px;
        height: auto;
        padding-left: 10px;
        margin-left: 30px;
    }
    
    .letras-5{
        @include letrastodo;
        grid-area: letras-5;
        margin-top: 50px;
    }
    
    .img-5{
        grid-area: img-5;
        width: 500px;
        height: 300px;
        padding-left: 10px;
        margin-left: 30px;
        margin-top: 30px;
        
    }
    
}

/*Footer*/

.descarga{
    margin-top: 70px;
    text-align: center;
}

.botonhome{
    margin-left: 100px;
    
}


footer{
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 1300px;
    padding-bottom: 20px;
    color: rgb(166, 0, 255);
    font-weight: bold;

    h5{
        font-family: 'Roboto Flex', sans-serif;
        font-weight: bold;
        font-size: 25px;
                          }
}




