/* Variables */
$azul: rgb(52, 160, 255);
$mentafondo:rgb(182, 255, 255);
$verde:rgb(0, 255, 89);
$yellow:rgb(236, 214, 94);
$uva:rgb(128, 0, 255);

 /*Imports separados de manera ordenada*/
@import "contenedorp-pc";
@import "mediaqueries-pc";

