/*Header*/

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

body{
background-image: url('../imagenes/playing\ games\ pc.jpg');
background-position: center;
background-repeat: no-repeat ;
background-attachment: fixed;
background-size: 1600px;
width: 100%;
}

header{
    background-color: $azul;
    width: 100%;
    clear: both;
    display: table;
    display: flex;
    flex-wrap: wrap;

    h1{
        font-family: 'Anton', sans-serif;
        margin-left: 550px;
        padding: 10px 35px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 6em;
        transition: all 2s ease;
        
                &:hover{
                    border-radius: 0%;
                    color: white;
                }
        
                 }
    
      .menu{
              margin: auto;
              margin-left: 550px;
              padding: 0%;
              width: 100%;
              max-width: 900px; 
              font-family: 'Roboto Flex', sans-serif;
    
              &.menu ul li{
                text-decoration: none;
                color: rgb(0, 0, 0);
                list-style: none;
                margin-left: 25px;
                padding: 20px 0px;
                font-weight: bold;
                float: left;
                display: block; 
                display: flex;
                flex-wrap: wrap;
                
                    }
    
               &.menu li:hover{
                background: #00ffff;
        
                &.menu li{
                    display: inline-block;
                    text-align: center;
                   }
    
    
        }    
                
    }
       

}


.contenedorp{
    display: grid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    margin-top: 25px;
    text-align: center;
    align-items: center;
    grid-template-areas: 
    "letras-tabla"
    "form"
    "location"
    }

    .enviar{
        margin-top: 15px;
    }

    .nombre{
        margin-bottom: 15px;
    }

    .apellido{
        margin-bottom: 15px;
    }

.letras-tabla{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 17px;
    font-style: bold;
    width: 750px;
    height: auto;
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 30px;
    padding: 12px;
    background-color:rgb(52, 160, 255); 
    color: black;
    border: 3px solid black;
    grid-area: letras-tabla;
    border-radius: 5%;
}

.table{
    border: 3px black solid;
}

.form{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-style: bold;
    width: 500px;
    height: auto;
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 10px;
    padding: 12px;
    background-color:rgb(52, 160, 255); 
    border: 3px solid black;
    grid-area: form;
    border-radius: 5%;
}


.location{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-style: bold;
    width: 500px;
    height: auto;
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 30px;
    padding: 12px;
    background-color:rgb(52, 160, 255); 
    border: 3px solid black;
    grid-area: location;
    border-radius: 5%;

}
 /*Footer*/

h4{
    color: black;
}

footer{
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 1400px;
    padding-bottom: 20px;
    color: rgb(52, 160, 255);
}

.descarga{
    margin-top: 100px;
    margin-left: 600px;
    margin-bottom: 15px;
}

.botonhome{
    margin-left: 50px;
}